.wrapper {
    width: 1000px;
    margin: 18px auto auto auto;
    .pull-right {
        margin-bottom: 18px;
        .btn-success {
            background-color: #6d836d;
            border-radius: 1px;
        }
    }
    .btn {
        border-radius: 1px;
        &.btn-primary {
            background-color: #16546b;
            border-color: #16546b;
        }
    }
}